body{
    margin:0;
    padding:0;
    background-color:#f4f4f4;
    color:#3c484e;
}
.Header{
    height: 80px;
}
.Header-main{
    text-align: center;
}
.Header-logo a{
    text-decoration:none;
    color:#fff;
    border-radius:3px;
    padding:10px;
}
.main{
    display: grid;
    justify-content: center;
}
.button{
    margin:0 auto;
    padding:10px;
    border-radius:10px;
    border:none;
    background-color: #a6e04b ;
    box-shadow: -1px 1px 13px 0px rgba(181, 181, 181,0.6);
    cursor: pointer;
    outline: none;
}
.content{
    width:1200px;
    height:400px;
    box-sizing:border-box;
    display: none;
}
.content.up{
    display:grid;
    grid-template-columns:repeat(3,30%);
    justify-content: space-evenly;
    align-items: center;
    animation:up 1s ease-in forwards;
}
.Character-item{
    box-sizing: border-box;
    box-shadow: inset -1px 1px 40px 0px  rgba(174, 195, 26, 0.6);
    padding:20px;
    border-radius:50%;
    width:100%;
    height:350px;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.Character-item:hover{
    box-shadow: inset -1px 1px 20px 0px  rgba(174, 195, 26, 0.6);
}
.Character-imgContainer{
    width: 100%;
    height:220px;
    margin: 0px;

    display: flex;
    justify-content: center;
    position: relative;
}
.Character-item img{
    width:100%;
    object-fit: contain;
}
.Character-details{
    text-align: center;
    position: absolute;
    bottom:40px;
}
.Character-details h2{
    margin:5px;
}
.footer{
    text-align: center;
    height:70px;
}
.footer a{
    color:#8fc53b;
}
@keyframes up{
    0%{
        transform: translateY(400px);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@media screen and (max-width:1440px){

}
@media screen and (max-width:1280px){
    .main{
        width:100%;
        margin:0 auto;
    }
    .content.up{
        grid-template-columns: repeat(3,33.33%);
    }
    .content{
        height:270px;
        width:100%;
    }
    .Characters{
        width:100%;
        height:100%;
    }
    .Character-item{
        width:250px;
        height:250px;
    }
    .Character-imgContainer{
        height: 130px;
    }
    .Character-details h2{
        font-size:18px;
    }
}
@media screen and (max-width: 1024px){
    
}
@media screen and (max-width: 768px){
    .main{
        grid-template-columns: minmax(auto,100%);
    }
    .content.up{
     justify-items: center;
     height:280px;
    }
    .Character-item{
        width:230px;
        height: 230px;
    }
}
@media screen and (max-width:690px){
    .main{
        margin:0 auto
    }
    .Header{
        height:80px;
    }
    .Header-logo a{
        font-size:0.9em;
    }
    .content.up{
        display:flex;
        flex-direction:column;
        height:inherit;
        align-items:baseline;
        justify-content:space-around;
    }
    .loading{
        height:900px;
        width:90%;
        margin:0 auto;
    }
    .Character-item{
        width:200px;
        height: 300px;
        box-shadow:none;
        border-radius: 0px;
        width:100%;
        flex-direction: row;
        padding:5px;
    }
    .Character-item:hover{
        box-shadow: none;
    }
    .Character-imgContainer{
        width:50%;
        height:280px;
        box-shadow: inset -1px 1px 40px 0px  rgba(174, 195, 26, 0.6);
        border-radius:50%;
    }
    .Character-imgContainer:hover{
        box-shadow: inset -1px 1px 20px 0px  rgba(174, 195, 26, 0.6);
    }
    .Character-imgContainer img{
        object-fit:cover;
    }
    .Character-details{
        position: unset;
        width:50%;
        height:inherit;
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;
    }
}
@media screen and (max-width:420px){
    .loading{
        height: calc(3 * 210px);
    }
    .Character-item{
        height:210px
    }
    .Character-imgContainer{
        height:200px;
    }
}
@media screen and (max-width:320px){
    .Header-logo a{
        font-size:0.8em;
    }
    .Character-item{
        height:150px
    }
    .Character-imgContainer{
        height: 150px;
    }
}